/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        padding: 0px 0px 15px 0px;
    }

    .login_bt {
        width: 140px;
        margin-top: 28px;
    }

    .login_bt li a {
        padding: 0px 0px 0px 20px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 30px 10px 10px 10px;
    }

    .about_taital_box {
        padding-top: 0px;
    }

    .about_taital_1 {
        font-size: 26px;
        margin: 0px;
    }

    .readmore_btn {
        margin-top: 20px;
    }

    .about_img {
        height: 300px;
    }

    .types_text {
        font-size: 17px;
    }

    #custom_slider a.carousel-control-next {
        right: 0px;
        top: 175px;
    }

    #custom_slider a.carousel-control-prev {
        right: 0px;
        top: 120px;
        left: initial;
    }



}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        padding: 15px 0px;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        border-color: #fff;
        background: #fff;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        color: #ffffff;
        padding: 10px 20px;
    }
    .header_section {
        background-size: cover;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
    }
    .search_bt {
        width: 100%;
        text-align: center;
    }
    #banner_slider a.carousel-control-next {
        right: 0px;
        top: 585px;
        left: 170px;
        display: none;
    }
    #banner_slider a.carousel-control-prev {
        left: 100px;
        top: 585px;
        display: none;
    }
    .banner_section .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .banner_taital_main {
        padding-top: 0px;
    }

    .about_taital_box {
        padding-top: 0;
    }

    .about_taital {
        font-size: 30px;
    }

    .about_text {
        font-size: 14px;
    }

    .about_taital_1 {
        font-size: 24px;
        margin: 0px;
    }

    .readmore_btn {
        margin-top: 20px;
    }

    #main_slider a.carousel-control-prev {
        left: -38px;
        top: 440px;
    }

    #main_slider a.carousel-control-next {
        right: -38px;
        top: 440px;
    }

    .coffee_img {
        margin-top: 20px;
    }

    .client_right {
        padding-top: 0px;
    }

    .client_text {
        width: 90%;
    }

    #custom_slider a.carousel-control-next {
        right: -39px;
        top: 80px;
    }

    #custom_slider a.carousel-control-prev {
        left: initial;
        top: 140px;
        right: -39px;
    }











}

@media (min-width: 576px) and (max-width: 767px) {
    .navbar {
        padding: 15px 0px;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        border-color: #fff;
        background: #fff;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        color: #ffffff;
        padding: 10px 20px;
    }
    .header_section {
        background-size: cover;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
    }
    .search_bt {
        width: 100%;
        text-align: center;
    }
    #banner_slider a.carousel-control-next {
        right: 0px;
        top: 585px;
        left: 170px;
        display: none;
    }
    #banner_slider a.carousel-control-prev {
        left: 100px;
        top: 585px;
        display: none;
    }
    .banner_section .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .banner_taital_main {
        padding-top: 0px;
    }
    .about_bt {
        width: 140px;
        float: left;
    }
    .about_img {
        margin-top: 40px;
    }
    .callnow_bt {
        width: 140px;
        float: left;
    }
    .coffee_taital {
        font-size: 30px;
    }
    #main_slider a.carousel-control-next {
        right: 0;
        display: none;
    }
    #main_slider a.carousel-control-prev {
        left: 0;
        display: none;
    }

    #custom_slider a.carousel-control-next {
        right: 0;
        top: 130px;
        display: none;
    }

    #custom_slider a.carousel-control-prev {
        right: 0;
        top: 130px;
        display: none;
    }

    .about_taital {
        font-size: 23px;
    }

    .coffee_img img {
        margin-top: 20px;
    }

    .client_taital_main {
        display: block;
    }

    .client_left {
        width: 100%;
    }

    .client_img img {
        width: 100%;
    }

    .client_right {
        width: 100%;
    }

    .client_text {
        width: 100%;
        font-size: 14px;
    }

    .prep_text {
        font-size: 18px;
    }

    .read_btn{
        margin-bottom: 20px;
    }

    .mail_section_1 {
        width: 100%;
    }
    .form-group {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .navbar {
        padding: 15px 0px;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        border-color: #fff;
        background: #fff;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        color: #ffffff;
        padding: 10px 20px;
    }
    .header_section {
        background-size: cover;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
    }
    .search_bt {
        width: 100%;
        text-align: center;
    }
    #banner_slider a.carousel-control-next {
        right: 0px;
        top: 585px;
        left: 170px;
        display: none;
    }
    #banner_slider a.carousel-control-prev {
        left: 100px;
        top: 585px;
        display: none;
    }
    .banner_section .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .banner_taital_main {
        padding-top: 0px;
    }
    .tasty_text {
        color: #ffffff;
    }
    .about_bt {
        width: 140px;
        float: left;
    }
    .about_img {
        margin-top: 40px;
    }
    .callnow_bt {
        width: 140px;
        float: left;
    }
    .coffee_taital {
        font-size: 30px;
    }
    #main_slider a.carousel-control-next {
        right: 0;
        display: none;
    }
    #main_slider a.carousel-control-prev {
        left: 0;
        display: none;
    }

    #custom_slider a.carousel-control-next {
        right: 0;
        top: 130px;
        display: none;
    }

    #custom_slider a.carousel-control-prev {
        right: 0;
        top: 130px;
        display: none;
    }

    .about_taital {
        font-size: 23px;
    }

    .coffee_img img {
        margin-top: 20px;
    }

    .client_taital_main {
        display: block;
    }

    .client_left {
        width: 100%;
    }

    .client_img img {
        width: 100%;
    }

    .client_right {
        width: 100%;
    }

    .client_text {
        width: 100%;
        font-size: 14px;
    }

    .prep_text {
        font-size: 18px;
    }

    .read_btn{
        margin-bottom: 20px;
    }

    .mail_section_1 {
        width: 100%;
    }
    .form-group {
        width: 100%;
    }


}